<div class="work-container">
  <h1 class="page-title mat-headline-large">Work</h1>

  <div class="work-grid">

    @for (work of workHistory; track $index){
      <mat-card class="work-card">
        <mat-card-title class="work-card-title">{{work.company}}</mat-card-title>
        <mat-card-subtitle class="work-card-subtitle">
          {{work.duration}}
        </mat-card-subtitle>
        <mat-card-content>
          @for (role of work.jobRoles; track $index) {
              <div class="role-list"><strong>{{role.title}} </strong> @if(work.jobRoles.length > 1){ <span class="job-role-duration">({{role.duration}})</span>}</div>
          }
          <ul>
            @for (bullet of work.bullets; track $index) {
              <li>{{bullet}}</li>
            }
          </ul>
        </mat-card-content>
      </mat-card>
    }
  </div>
</div>