.work-container {
  max-width: 960px;
  margin: 0 auto;
}

.work-grid {
  display: grid;
  gap: 2rem;
  padding: 1rem 0;
}

.work-card {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s ease-out forwards;
  padding: .5rem;
  background-color: var(--custom-surface);
  color: var(--mat-sys-on-surface, #f4fff7);
  border-radius: 16px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
}

.work-card-title {
  font-size: 1.8rem;
  line-height: 64px;
  font-weight: bold;
}

.work-card-subtitle {
  font-size: 1.4rem;
  font-style: italic;
  margin-bottom: 20px;
}

.role-list {
  line-height: 1.8rem;
}

.job-role-duration {
  margin-left: 10px;
  font-style: italic;
  font-size: 1.2rem;
}
ul li {
  margin-bottom: 0.5em; /* or any value you prefer */
}

@media (max-width: 768px) {
  .work-container {
    padding: 2rem .25rem;
    max-width: 768px;
  }
}

@for $i from 1 through 10 {
  .work-card:nth-child(#{$i}) {
    animation-delay: #{0.05 * $i}s;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}