.contact-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  color: var(--text-color, #f4fff7);

  h1 {
    margin-bottom: 0.5rem;
  }

  p {
    margin-bottom: 2rem;
  }
}

a {
  text-decoration: none;
}

.contact-form-container {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s ease-out forwards;
  animation-delay: .1s;
  margin-top: 2rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact-links {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s ease-out forwards;
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.spinner-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

fieldset {
  all: unset; 
  display: contents; 
}

.thank-you-message {
  font-size: 1.2rem;
  margin-top: 2.2rem;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s ease-out forwards;
  animation-delay: .1s;
  margin-top: 2rem;
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  column-gap: 1.2rem;
}

.thank-you-message p {
  margin: 0; 
}