:host {
  min-height: calc(100dvh - 64px);
  flex: 1;
  display: flex;
  flex-direction: column;
}

.hero-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.hero-banner {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: url('/assets/hero-bg.png') center/cover no-repeat;
  position: relative;
  color: white;
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;

  .overlay {
    flex: 1;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;

    .hero-content {
      opacity: 0;
      transform: translateY(20px);
      animation: fadeInUp 0.6s ease-out forwards;
      text-align: center;
      padding: 2rem;
      max-width: 800px;

      h1 {
        margin-bottom: 0.5rem;
      }

      button {
        margin-top: 1.5rem;
        align-self: center;
        width: auto; // optional
      }
    }
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}