.about-container {
  max-width: 960px;
  margin: 0rem auto;
}

.about-card {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s ease-out forwards;
  padding: 2rem;
  background-color: var(--custom-surface); // fallback for dark theme
  color: var(--mat-sys-on-surface);

  @media (max-width: 768px) {
    background-color: transparent;
  }
}

.about-content {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;
  }
}

.core-focus {
  margin-top: .5rem;
}

.text-content {
  flex: 1;
}

.profile-pic {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}