.dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #000;
  img {
    max-width: 100%;
    max-height: 90vh;
    border-radius: 8px;
  }
}
