<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" mode="over">
        <mat-nav-list>
            <a mat-list-item routerLink="/about" (click)="drawer.close()">About</a>
            <a mat-list-item routerLink="/projects" (click)="drawer.close()">Projects</a>
            <a mat-list-item routerLink="/work" (click)="drawer.close()">Work</a>
            <a mat-list-item routerLink="/education" (click)="drawer.close()">Education</a>
            <a mat-list-item routerLink="/contact" (click)="drawer.close()">Contact</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="layout-container">
        <mat-toolbar class="toolbar" color="transparent">
            <button mat-button routerLink="/" class="logo-button">

                <div class="logo-container">
                    <img src="assets/circuit-icon.png" class="logo-icon" alt="logo" />
                    <span class="logo-text">Kris Applegate</span>
                </div>
            </button>
            <span class="spacer"></span>

            <!-- Desktop links -->
            <nav class="nav-links hide-on-mobile">
                <a mat-button routerLink="/about" routerLinkActive="active">About</a>
                <a mat-button routerLink="/projects" routerLinkActive="active">Projects</a>
                <a mat-button routerLink="/work" routerLinkActive="active">Work</a>
                <a mat-button routerLink="/education" routerLinkActive="active">Education</a>
                <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a>
            </nav>

            <!-- Mobile menu button -->
            <button mat-icon-button class="show-on-mobile" (click)="drawer.toggle()" aria-label="Menu">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        <main class="main-content" [ngClass]="{'no-padding' : isHeroPage()}">
      <router-outlet></router-outlet>
    </main>
        @if (!isHeroPage()) {
    <app-footer></app-footer>
    }
    </mat-sidenav-content>

</mat-sidenav-container>