@use '@angular/material' as mat;
@use '../_theme-colors' as theme; // location of generated file

// 1. Define the theme as a variable
html {
  color-scheme: dark;
  @include mat.theme((color: (primary: theme.$primary-palette,
        tertiary: theme.$tertiary-palette ),
      typography: (plain-family: Nunito Sans, brand-family: Inter),
      density: 0
    ));
}

body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);

}


html,
body {
  height: 100%;
  overflow-x: hidden;
  overscroll-behavior: none;
}

body {
  margin: 0;
  overscroll-behavior-y: none;
}

mat-sidenav-content {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; // enables smooth scroll on iOS
}

mat-card{
  background-color: var(--custom-surface);
  color: var(--mat-sys-on-surface);
}

:root {
  --custom-surface: #1F2224; // slightly lighter than your neutral
}

.page-title {
  margin-bottom: 1rem;
  color: var(--text-color);
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
  }
}