@use '@angular/material' as mat;
@use '../_theme-colors' as theme; // location of generated file

// 1. Define the theme as a variable
html {
  color-scheme: dark;
  @include mat.theme((color: (primary: theme.$primary-palette,
        tertiary: theme.$tertiary-palette ),
      typography: (plain-family: Nunito Sans, brand-family: Inter),
      density: 0
    ));
}

:root {
  --custom-surface: #242A32; // slightly lighter than your neutral
  --custom-page-background: #181F29;
  --hero-base: #1B2636;;
}

main {
  background: linear-gradient(
    to bottom,
    var(--hero-base) 0%,
    var(--custom-page-background) 50%
  );
}
body {
  color: var(--mat-sys-on-surface);
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  overscroll-behavior: none;
  
}

body {
  margin: 0;
  overscroll-behavior-y: none;
}

mat-sidenav-content {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; // enables smooth scroll on iOS
}


.page-title {
  margin-bottom: 1rem;
  color: var(--text-color);
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
  }
}

p {
  font-size: 1.3rem;
  line-height: 1.5;
}
